<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<style type="text/css">
   body,html{margin:0; padding:0}
   div {background-color:#{color}}
</style>
</head>
<body>
	<div style="width: {width}px; height: {height}px; margin: 0; padding: 0;"></div>
	{your_ad_here_link}
   	  <a href="{siteurl}guest/site_directory/?site={site_id}&channel={channel_id}#a{site_id}" target="_blank" style="display: block; text-align: center; font-size: 11px; text-decoration: none;">
      	 {your_ad_here_link_text}
      </a>
   	{/your_ad_here_link}
</body>
</html>
