<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
   body,html{margin:0; padding:0}
   a img{border:none}
   #banner{font:bold 14px Arial, sans-serif;position:absolute;z-index:100;width:{width}px;height:{height}px;border:1px #000 solid;vertical-align:middle;text-align:center;}
</style>
</head>
<body>
   <div id="banner">{error}</div>
</body>
</html>
