<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="js/swfobject.js"></script>
<style type="text/css">
   body,html{margin:0; padding:0}
</style>
</head>
<body>
<div id="flash"></div>
<script type="text/javascript">
   swfobject.embedSWF('images/jquery_flash/{loader}', 'flash', '{width}', '{height}', '8.0.0', null, {banner: '{filename}', link: '{click_url}'}, {menu: 'false', wmode: 'opaque', bgcolor: '{bgcolor}'});
</script>
{extra}
</body>
</html>
