 
var ident_{ident} = Math.round(Math.random() * 10000)

if (typeof(sppc_cookie) == 'undefined') {
   var sppc_cookie = Math.round(Math.random() * 1000);
}

if (typeof(sppc_use_flash) == 'undefined') {
   var sppc_use_flash = 0;
   if (navigator.plugins && navigator.plugins.length) {
      if (navigator.plugins['Shockwave Flash'] || navigator.plugins['Shockwave Flash 2.0']) {
         sppc_use_flash = 1;
      }
   } else if (navigator.mimeTypes && navigator.mimeTypes.length) {
      x = navigator.mimeTypes['application/x-shockwave-flash'];
      if (x && x.enabledPlugin) {
         sppc_use_flash = 1;
      }
   } else if (navigator.userAgent && navigator.userAgent.indexOf('MSIE') >= 0 && (navigator.appVersion.indexOf('Win') != -1)) {
      // MSIE
      var flash_latest_version = 12;
      try {
         for (i = 3; i <= flash_latest_version; i++) {
            if (eval('new ActiveXObject("ShockwaveFlash.ShockwaveFlash.'+i+'")')) {
               sppc_use_flash = 1;
               break;
            }
         }
      } catch(e) {}
   } else {
      // Unknown
      sppc_use_flash = -1;
   }
}


var iframeUrl_{ident} =  "{base_url}display?ident={ident}&id_site={id_site}&id_channel={id_channel}&id={id}&id_dimension={id_dimension}&width={width}&height={height}&id_palette="+sppc_palette+"&id_user={id_publisher}&ref={referer}&sr="+escape(document.referrer)+"&ck="+sppc_cookie+"&uf="+sppc_use_flash;

var iframeStr_{ident} = " <iframe src='" + iframeUrl_{ident} + "' "+ 
"name='name-{ident}' " +
"id='id-{ident}' " +
"scrolling='no' " +
"allowtransparency='true' " +
"style='background-color: transparent;' " +
"frameborder='0' " +
"width='{width}' " +
"height='{height}' " +
"></iframe>";

document.write(iframeStr_{ident});

