<div class="floatr ad-edit-handle w20">
   <a href="#" jframe="no" class="guibutton floatl ico ico-doc-convert" title="{@Bulk Editor@}" value="" onclick="return showBulkEditor('<%CODE%>')"></a>
</div>
<span class="ad_example_title" style="color:#0000FF; font-family: Arial; font-size:13px; font-style: normal; font-weight: bold;"><a target="_blank" href="http://<%DESTINATION_URL%>"><%TITLE%></a></span><br/>
<%SHOW_DESCRIPTION%>
<span class="ad_example_text" style="color:#000000; font-family: Arial; font-size:10px; font-style: normal; font-weight: normal;"><%DESCRIPTION%></span><br/>
<span class="ad_example_text" style="color:#000000; font-family: Arial; font-size:10px; font-style: normal; font-weight: normal;"><%DESCRIPTION2%></span><br/>
<%/SHOW_DESCRIPTION%>
<span class="ad_example_url" style="color:#00AA00; font-family: Arial; font-size:10px; font-style: normal; font-weight: bold;"><%DISPLAY_URL%></span><br/>
<span class="ad_example_click_url" title="<%ORIG_DESTINATION_URL%>" style="color: #bbb; font-family: Arial; font-size:10px; font-style: normal; font-weight: bold;"><%PROTOCOL%>://<%DESTINATION_URL%></span>
