<div class="clearBoth p10 borderBlack bg_white">
   
   <table class="w300" border="0">
   		<tr>
   			<td colspan="2"  id="text_ad_example_title" class="w300 center f13px b text_blue"><%TITLE%></td>
   		</tr>
   		<tr>
			<td id="text_ad_example_question1" class="pt10 w210"><%QUESTION%></td>
			<td class="pt10 w90 top right">
				<div class="ml10 w80">
					<input id="" name="name" type="radio"/><span class="ml3 mr6">Yes</span>
					<input id="" name="name" type="radio"/><span class="ml3">No</span>
				</div>
			</td>
   		</tr>
   		<tr>
			<td id="text_ad_example_question2" class="pt10 w210"><%QUESTION2%></td>
			<td class="pt10 w90 top right">
				<div class="ml10 w80">
					<input id="" name="name1" type="radio"/><span class="ml3 mr6">Yes</span>
					<input id="" name="name1" type="radio"/><span class="ml3">No</span>
				</div>
			
			</td>
   		</tr>
   		<tr>
   			<td colspan="2">
   			<table class="w100p">
   				<tr>
					<td id="text_ad_example_email_title" class="pt10 b w20 nowrap"><%EMAIL_TITLE%></td>
					<td class="pt10 top"><span class="editable ml10"  type="text"></td>
				</tr>
			</table>
			</td>
   		</tr>
   		<tr>
   			<td colspan="2" class="pt10 center"><button class="w145" disabled="disabled" onclick="return false;">Submit</button></td>
   		</tr>
   </table>
</div>