<!--
<div style="background-color:#<%BACKGROUND_COLOR%>; border: 1px solid #<%BORDER_COLOR%>; width: 150px; padding: 4px;">
    <div><a style="color:#<%TITLE_COLOR%>; font-family:<%TITLE_FONT_NAME%>; font-size:<%TITLE_FONT_SIZE%>px; font-style:<%TITLE_FONT_STYLE%>; font-weight:<%TITLE_FONT_WEIGHT%>;" target="_blank" id="text_ad_example_title" href="http://example.com">Link title</a></div>
    <div style="color:#<%TEXT_COLOR%>; font-family:<%TEXT_FONT_NAME%>; font-size:<%TEXT_FONT_SIZE%>px; font-style:<%TEXT_FONT_STYLE%>; font-weight:<%TEXT_FONT_WEIGHT%>;">text sample first row<br>
	    text sample second row</div>
    <div style="color:#<%URL_COLOR%>; font-family:<%URL_FONT_NAME%>; font-size:<%URL_FONT_SIZE%>px; font-style:<%URL_FONT_STYLE%>; font-weight:<%URL_FONT_WEIGHT%>;">www.urlsample.domain</div>
</div>

<div style="color:#<%TITLE_COLOR%>; font-family: Arial; font-size:<%TITLE_FONT_SIZE%>px; font-style: <%TITLE_FONT_STYLE%>; font-weight: <%TITLE_FONT_WEIGHT%>;"><a target="_blank" id="text_ad_example_title" href="<%DESTINATION_URL%>"><%TITLE%></a></div>				
-->

<div style="background-color:#<%BACKGROUND_COLOR%>; border: 1px solid #<%BORDER_COLOR%>; padding: 10px;" class="clearBoth">
   <div style="color:#<%TITLE_COLOR%>; font-family: <%TITLE_FONT_NAME%>; font-size:<%TITLE_FONT_SIZE%>px; font-style: <%TITLE_FONT_STYLE%>; font-weight: <%TITLE_FONT_WEIGHT%>;"><span  id="text_ad_example_title"><%TITLE%></span></div>
   <div id="text_ad_example_description1" style="color:#<%TEXT_COLOR%>; font-family: <%TEXT_FONT_NAME%>; font-size:<%TEXT_FONT_SIZE%>px; font-style: <%TEXT_FONT_STYLE%>; font-weight: <%TEXT_FONT_WEIGHT%>;"><%DESCRIPTION%></div>
   <div id="text_ad_example_description2" style="color:#<%TEXT_COLOR%>; font-family: <%TEXT_FONT_NAME%>; font-size:<%TEXT_FONT_SIZE%>px; font-style: <%TEXT_FONT_STYLE%>; font-weight: <%TEXT_FONT_WEIGHT%>;"><%DESCRIPTION2%></div>
   <div id="text_ad_example_url" style="color:#<%URL_COLOR%>; font-family: <%URL_FONT_NAME%>; font-size:<%URL_FONT_SIZE%>px; font-style: <%URL_FONT_STYLE%>; font-weight: <%URL_FONT_WEIGHT%>;"><%DISPLAY_URL%></div>
</div>
