	<table class="table f11px">
		<tr>
			<td class="w300">
				<label for="show_your_ad_here_link">
					<span>{@Show 'Your Ad Here' link@}:</span>
				</label>
			</td>
			<td>
				<table class="table">
					<tr class="middle">
						<td><input type="checkbox" id="show_your_ad_here_link" name="show_your_ad_here_link" value="true"></td>
						<td class="pl5"><input type="text" id="your_ad_here_link_text" name="your_ad_here_link_text" class="text w200"></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>