<div class="byte_city_registration Box xFrame">
     <h2>{@ByteCity Feed@}</h2>
     <h3>{@Do you want to get access to the top advertisers and earn from their display inventory?@}</h3>
	  	Join the ByteCity network of partners and display top advertisers’ ads on your websites. ByteCity facilitates relationships between publishers and advertisers by providing the underlying technology that manages websites and ad campaigns, tracks results and sends payments.
	  	Start earning money from your website traffic and join the ByteCity Network.
	  <div class="mt10 mb10 h20" style="clear: both;">
		   <a href="#" class="bytecity_top guibutton floatl" value="Register at the ByteCity Network" title="Register at the ByteCity Network">Register at the ByteCity Network</a>
	   </div>
</div>