<div class='xTbar'>
<table class="table">
	<tr>
		<td>
			<input type="button" class="guibutton floatl ico ico-approve" value='{@adv_Approve@}' title='{@adv_Approve@}' onclick="return do_action('manageadvertisers', 'approve', '', '{@Please select at least one record in the table@}')">
		</td>
		<td>
			<div class="vsplitter"></div>
		</td>
		<td>
			<input type="button" class="guibutton floatl mr3 ico ico-unlock" value='{@adv_Resume@}' title='{@adv_Resume@}' onclick="return do_action('manageadvertisers', 'resume', '', '{@Please select at least one record in the table@}')">
			<input type="button" class="guibutton floatl mr3 ico ico-lock" value='{@adv_Pause@}' title='{@adv_Pause@}' onclick="return do_action('manageadvertisers', 'pause', '', '{@Please select at least one record in the table@}')">
			<input type="button" class="guibutton floatl ico ico-delete" value='{@adv_Delete@}' title='{@adv_Delete@}' onclick="return do_action('manageadvertisers', 'delete', '{@Delete selected advertisers?@}', '{@Please select at least one record in the table@}')">
			<input type="button" class="guibutton floatl ico ico-user" value='{@adv_Restore@}' title='{@adv_Restore@}' onclick="return do_action('manageadvertisers', 'restore', '{@Restore selected advertisers?@}', '{@Please select at least one record in the table@}')">
		</td>
		<td>
			<div class="vsplitter"></div>
		</td>
	</tr>
</table>
</div>
