This message was sent from a notification-only email address that does not accept incoming email. Please do not reply to this message.<br>
------------------------<br>
<br>
Hello,<br>
<br>
The report you requested is now available for viewing or downloading:<br>
<br>
<a href="<%VIEWLINK%>"><%VIEWLINK%></a><br>
<br>
Please note that you'll need to log into your account before you can access this page.<br>
<br>
--------------------------------------------<br>
Your Report Details<br>
--------------------------------------------<br>
Report Name: <%REPORTNAME%><br>
Login Email: <%USEREMAIL%><br>
<br>
To run a new report or manage your report settings, please visit:<br>
<a href="<%REPORTCENTER%>"><%REPORTCENTER%></a><br>
<br>
You can also learn more about the Report Center by visiting our Help:<br>
<a href="<%HELPLINK%>"><%HELPLINK%></a><br>
<br>
Sincerely,<br>
The <%TITLE%> Team<br>
<br>
------------------------<br> 