<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
   <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title><%SYSTEM%> Account Approve Notification</title>
	</head>
	<body>
		<H3>Hello, <%USERNAME%>!</H3>
      Your account of <%SYSTEM%> has been approved by administrator.<br> 
      <br>
      Your login information is as follows:<br>
      Role: <%USERROLE_LOCALE%><br>
      User E-Mail: <%USERMAIL%><br>
      <br>
      To login into system folow link: <a href='<%SITEURL%><%INDEXPAGE%><%USERROLE%>/login'><%USERROLE_LOCALE%> login</a><br>
      <br>
      This is a notification email. Don’t reply it.<br>
      <br>
      Regards,<br>
      <%SYSTEM%> Administration<br>
	</body>
</html> 