<!--LoginPage-->
<h1>
	{@Privacy Policy@}</h1>
<div class="p10">
	{@policy_info@}
	<h2>
		{@policy_information_automatically_logged_title@}</h2>
	{@policy_information_automatically_logged_text@}
	<h2>
		{@policy_personal_information_title@}</h2>
	{@policy_personal_information_text@}
	<h2>
		{@policy_cookies_title@}</h2>
	{@policy_cookies_text@}
	<h2>
		{@policy_session_managment_title@}</h2>
	{@policy_session_managment_text@}
	<h2>
		{@policy_security_title@}</h2>
	{@policy_security_text@}
	<h2>
		{@policy_contact_info_title@}</h2>
	{@policy_contact_info_text@}</div>
