<!--LoginPage-->
<h1>{@Terms & Services@}</h1>
<div class="p10">
{@terms_welcome@}
<h2>{@terms_your_agreement_title@}</h2>
{@terms_your_agreement_text@}
<h2>{@terms_links_to_third_party_sites_title@}</h2>
{@terms_links_to_third_party_sites_text@}
<h2>{@terms_disclaimer_title@}</h2>
{@terms_disclaimer_text@}
<h2>{@terms_exclusions_and_limitations_title@}</h2>
{@terms_exclusions_and_limitations_text@}
<h2>{@terms_limitation_of_liability_title@}</h2>
{@terms_limitation_of_liability_text@}
<h2>{@terms_copyright_title@}</h2>
{@terms_copyright_text@}
<h2>{@terms_trademarks_title@}</h2>
{@terms_trademarks_text@}
<h2>{@terms_general_title@}</h2>
{@terms_general_text@}
</div>