<form name="forgot_password" method="post">
<div style="margin: 0 auto; width:250px;" id="error_message_div"></div> 
  <h1>Please enter new password</h1>
  <div class="frame mb10">
	  <table   cellspacing="10" cellpadding="0" border="0">
		  <tr>
		 	 <td>
		 		 <label for="pw">{@New Password@}:</label> 
		 	 </td>
		 	 <td><input class="text w200" type="password" id="pw" name="password"></td>
		  </tr>
        <tr>
          <td>
             <label for="cf">{@Confirm New Password@}:</label> 
          </td>
          <td><input class="text w200" type="password" id="cf" name="confirm"></td>
        </tr>
		  <tr>
		  	<td>&nbsp;</td>
		  	<td>
		  		<input class="button" type="submit" name="set" value="{@Set password@}" size="100"><br>
		  	</td>
		  </tr>
	  </table>
  </div>
</form>

