<!--LoginPage-->
<h1>Orbit AdServer - Your Own Ad Serving Software</h1>
<div class="textInfo">

<p>
Orbit AdServer is designed to operate at the back-end of your websites creating a robust platform your advertisers will find easy-to-use.

		</p><p>
Orbit AdServer system offers a complete solution for creating and managing advertising campaigns. Using Orbit AdServer gives you the ability to publish advertisements on any of the websites you control; easily converting your web traffic into ad revenue. Advertisers registered on your system, can create and manage their marketing campaigns.
		</p><p>

<b>Orbit AdServer offers:</b>

<ul style="padding-left:20px;">
<li>Serving text, image, flash advertisements
<li>CPC, CPM, CPA, Flat Rate cost models
<li>Countries and languages targeting
<li>Detailed analytics and data-rich reports
<li>Zoning on a site
<li>Contextual and keyword-based advertising
<li>Visitor security methods for avoiding fraudulent clicks or undesirable visitors
<li>and many other useful features.
</ul>
		</p>
		<br/>
<img alt="Orbit AdServer" src="<%SITEURL%>images/smartppc6/presents.jpg" style="margin-top: 30px;">
<div style="position: relative;margin-top:-250px;clear:both;margin-bottom: 50px;">
<div style="font-size:20px;">Advertisements come to<br/> 

your websites via <br/>
<b>Orbit AdServer</b> system from:</div>
 <ul style="padding-left:20px;">
  <li></your>your own direct advertisers,<br/>
  <li>JavaScript feeds<br/>
       <span style="font-size:12px;color:#888;">such as Google AdSense, Microsoft AdCenter,<br/> 
       Yahoo Publisher Network and others.</span>

  <li>XML feeds <br/>
       <span style="font-size:12px;color:#888;"> such as Miva, ABCSearch, 7Search,<br/> 
       SearchFeed and others.</span>
      </ul>
<div style="font-size:16px;">Displaying of these ads allows to monetize your traffic easily.</div>
</div>
</div>
