Это сообщениее было выслано автоматической службой уведомлений, которая не поддерживает входящую почту. Пожалйства, не отвечайте на это сообщение.<br>
------------------------<br>
<br>
Привет,<br>
<br>
отчет, который вы запрашивали, доступен для просмотра или скачивания на странице:<br>
<br>
<a href="<%VIEWLINK%>"><%VIEWLINK%></a><br>
<br>
Учтите, что вы должны пройти авторизацию, для того что бы получить доступ к странице.<br>
<br>
--------------------------------------------<br>
Детали вашего отчета<br>
--------------------------------------------<br>
Наименование отчета: <%REPORTNAME%><br>
E-Mail для входа в систему: <%USEREMAIL%><br>
<br>
Для запроса нового отчета или управления созданными, перейдите на страницу:<br>
<a href="<%REPORTCENTER%>"><%REPORTCENTER%></a><br>
<br>
Для получения дополнительной информации о центре управления отчетами, посетите страницу помощи:<br>
<a href="<%HELPLINK%>"><%HELPLINK%></a><br>
<br>
С уважением,<br>
команда <%TITLE%>.<br>
<br>
------------------------<br> 