<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title><%SYSTEM%> Validate E-Mail Link</title>
	</head>
   <body>
      Welcome to <%SYSTEM%>!<br>
      <br>
      You or someone using your e-mail address has completed registration at <%SYSTEM%>.<br>
      To complete registration process, please confirm your e-mail address by clicking on the link below:<br>
      <a href="<%LINK%>"><%LINK%></a><br>
      <br>
      If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.<br>
      If you've received this mail in error, it's likely that another user entered your email address by mistake while registering in our system. If you didn't initiate the request, you don't need to take any further action and can safely disregard this email.<br>
      This is a post-only mailing. Replies to this message are not monitored or answered.<br>
      <br>
      Sincerely,<br>
      The <%SYSTEM%> Team 
	</body>
</html>