<script type="text/javascript">
function selectSite(o) {
	var site_id = o.value;
	$.post("<%SITEURL%><%INDEXPAGE%><%ROLE%>/get_code_for_site/get_channels/", {id_site: site_id},
    function(data){
	   $("#choose_channel").removeOption(/./);
	   $("#choose_channel").addOption(0, '{@Choose Channels for site@}');
	   $.each(data, function(i, item){
	      $("#choose_channel").addOption(item.id, item.name);	      
       });
	   $("#choose_channel").selectOptions('{@Choose Channels for site@}', true);
	   $("#choose_channel").attr('disabled', false);
    }, "json");
}

function submitSelectSiteForm() {
	var id_site = $('#choose_site').val();
	var id_channel = $('#choose_channel').val();
	$('INPUT[name=id_site]').val(id_site);
	$('INPUT[name=id_channel]').val(id_channel);
	if ((0 != id_site) && (0 != id_channel)) {
		get_channel_code(id_site,id_channel)
	} else {
		$('FORM[name=get_code_for_site_select_form]').submit();
	}
}

function get_channel_code(id_site,id_channel) {
	var form = $('FORM[name=get_code_for_site_select_form]');
	form.attr('action',"<%SITEURL%><%INDEXPAGE%><%ROLE%>/adplacing_get_code");
	form.children('#id_channel').val(id_channel);
	form.children('#id_site').val(id_site);
	form.submit();
}
</script>

<form name="get_code_for_site_select_form" method="post">
	<input type="hidden" name="id_site" value="0">
	<input type="hidden" name="id_channel" value="0">
	<h1><a href='<%SITEURL%><%INDEXPAGE%><%ROLE%>/manage_sites_channels'>{@Manage Sites/Channels@}</a> &rarr; {@Get code@}</h1>
	
	<div class="frame">
	<table class="w100p" cellpadding="0" cellspacing="10" border="0">
		
		<tr>
			<td colspan="2">
				<h2 class="underline">{@Choose Site Only Or Site And Channel@}</h2>
			</td>
		</tr>
		<tr>
			<td width="100"><label for="choose_site">{@Site@}:</label></td>
			<td><select id="choose_site" onchange="selectSite(this);" class="w300"></select></td>
		</tr>
		<tr>
			<td><label for="choose_channel">{@Channel@}:</label></td>
			<td><select id="choose_channel" class="w300" disabled="disabled"></select></td>
		</tr>
		<tr>
			<td></td>
			<td>
			    <button class="button" title="{@Ok@}" value="{@Ok@}" onclick="submitSelectSiteForm();" type="button">
					<span class="ico ico-confirm">{@Ok@}</span>
				</button>
			    <button class="button ml5" title="{@Cancel@}" value="{@Cancel@}" onclick="location.href='<%SITEURL%><%INDEXPAGE%><%ROLE%>/manage_sites_channels'" type="button">
				 	<span class="ico ico-cancel">{@Cancel@}</span>
				</button>
			</td>
		</tr>
	</table>
	</div>
</form>