<textarea id="<%ID_TEXT%>">
	<div style="color:#<%TITLE_COLOR%>; font-size:<%TITLE_FONT_SIZE%>px; font-style:<%TITLE_FONT_STYLE%>; font-weight:<%TITLE_FONT_WEIGHT%>;">Link title</div>
	<div style="color:#<%TEXT_COLOR%>; font-size:<%TEXT_FONT_SIZE%>px; font-style:<%TEXT_FONT_STYLE%>; font-weight:<%TEXT_FONT_WEIGHT%>;">text sample first row</div>
	<div style="color:#<%TEXT_COLOR%>; font-size:<%TEXT_FONT_SIZE%>px; font-style:<%TEXT_FONT_STYLE%>; font-weight:<%TEXT_FONT_WEIGHT%>;">text sample second row</div>
	<div style="color:#<%URL_COLOR%>; font-size:<%URL_FONT_SIZE%>px; font-style:<%URL_FONT_STYLE%>; font-weight:<%URL_FONT_WEIGHT%>;">www.urlsample.domain</div>
</textarea>