<div class="p20">
<form name="change_password" method="post">
	<h2 class="underline">{@Change Password@}</h2>
	<div id="error_message_div"></div> 
	<div class="m10">
	   <table class="table w100p" border="0">
         <a name="old_password_begin"></a>	      
	      <tr class="pt10">
	         <td class="w200 pt10 h30">
	            <label for="ol">
	               <span class="required">{@Old Password@}:</span>
	            </label>
	         </td>
	         <td class=" pr10 h50">
	            <input type="password" id="ol" name="old" class="w100p text">
	         </td>
	      </tr>
         <a name="old_password_end"></a>         
	      <tr class="pt10">
	         <td class="w200 pt10">
	            <label for="pw">
	              <span class="required"> {@New Password@}:</span>
	            </label>
	         </td>
	         <td class="pt10 pr10">
	            <input type="password" id="pw" name="password" class="w100p text">
	         </td>
	      </tr>
	      <tr class="pt10">
	         <td class="w200 pt10">
	            <label for="cf">
	              <span class="required">{@Confirm New Password@}:</span>
	            </label>
	         </td>
	         <td class="pt10 pr10">
	            <input type="password" id="cf" class="w100p text" name="confirm">
	         </td>
	      </tr>
	   </table>
	</div>
	<div class="right pt10">
		 <div class="floatl"><span class="required">&nbsp;</span>&nbsp; - {@required fields@}.</div>		
		 <button class="button" title="{@Save@}" type="submit" >
			<span class="ico ico-confirm">{@Save@}</span>
	    </button>
	    <button class="button ml5"  title="{@Cancel@}" type="button" onclick="self.parent.tb_remove();">
			<span class="ico ico-cancel">{@Cancel@}</span>
		</button>&nbsp;&nbsp;
	</div>
</form>
</div>
