<table class="table">
	<tr>
		<td>
			<input type="button" class="guibutton floatl mr3 ico ico-ok" value="{@feed_Resume@}" title="{@feed_Resume@}" onclick="return do_action('managefeeds', 'resume', '', '{@Please select at least one record in the table@}')">
			<input type="button" class="guibutton floatl ico ico-stop" value="{@feed_Pause@}" title="{@feed_Pause@}" onclick="return do_action('managefeeds', 'pause', '', '{@Please select at least one record in the table@}')">
		</td>
		<td>
			<div class="vsplitter"></div>
		</td>
		<td>
			<input type="button" class="guibutton floatl ico ico-report" value="{@feed_Report@}" title="{@feed_Report@}" onclick="toReports();">
		</td>
	</tr>
</table>