<br>
<form name="login" method="post">
<div style="margin: 0 auto; width:250px;" id="error_message_div"></div><br>
<div style="margin: 0 auto; border: 1px solid; width:350px; display: block;">
  <table  width="100%">
  <tr><td bgcolor="lightgray">{@Please login@}<br>
  </td></tr>
  <tr><td align="right">
  <br>
  <label>{@E-mail@} <input type="text" name="mail" size="30"></label><br>
  <br>
  <label>{@Password@} <input type="password" name="password" size="30"></label><br>
  <br>
  <a href=<%SITEURL%><%INDEXPAGE%><%ROLE%>/forgot_password>{@Forgot Password?@}</a><br>
  <br>
  </td></tr>
  <tr><td align="center">
  <input style="width:100px;" type="submit" name="login" value="{@Login@}"><br>
  <br>
  </td></tr></table>
</div>
</form>
<br>
<br>
