<div class="xTbar">
<table class="table">
<tr>
	<td>
		<input type="button" class="guibutton floatl ico ico-plusgreen" value='{@Create Targeting Group@}' title='{@Create Targeting Group@}' onclick="return do_action('manage_targeting_groups', 'create', '')">
	</td>
	<td>
		<div class="vsplitter"></div>
	</td>
	<td>
		<input type="button" class="guibutton floatl ico ico-delete" value='{@targeting_Delete@}' title='{@targeting_Delete@}' onclick="return do_action('manage_targeting_groups', 'delete', '{@Delete selected targeting groups?@}', '{@Please select at least one record in the table@}')">
	</td>
</tr>
</table>
</div>
