<div class="floatr pr20 center">
	<script src="<%SITE_ALEXA_RANK%>"></script>
</div>
<table>
   <tr class="top">
      <td>
         <img alt="Image Here" src="<%IMAGE%>" style="border: 1px; border-style: solid; border-color='black'; margin-right: 10px; margin-left: 5px;">
      </td>
      <td>
      	
	      <b class='f14px'><%NAME%></b>
	      <div><a target='_blank' href='http://<%URL%>'><%URL%></a></div>
	      <%DESCRIPTION%>
			<div class="mt5">
					<a href="<%SITEURL%>guest/site_information/index/<%CODESITE%>" class='guibutton floatl' value="{@more info...@}" onclick="show_site_info('<%CODESITE%>'); return; go('<%SITEURL%>index.php/guest/site_information/index/<%CODESITE%>')">{@more info...@}</a>
			</div>      
		</td>
   </tr>
</table>   