<form name="sites" id="sites" method="post">
<table cellpadding="0" cellspacing="10" border="0">
   	 <tr>
   			<td style="vertical-align:top;">
   				<label for="sites_list"><span class="required">{@Site@}:</span></label>
   			</td>
   			
   			<td style="vertical-align:top;">
				<select name="post_id" id="sites_list">
				</select>
				<div id="error" style="height: 13px;" class="errorP"></div>
   			</td>
   			
   			<td style="vertical-align:top;">		
   				<input type="submit" value="Continue" class="guibutton floatl mr3 mb3 ico ico-arrowright-green" onclick="submit_form();" />
   			</td>
</table>
</form>