<div class="pb10">
   <table class="table w100p">
   <tr>
      <td>
         <h2><%TITLE%>:</h2>
      </td>
      <td align="right">
         <%SHOW_MORE_LINK%><a class="more" href="<%MORE_LINK%>">{@more features...@}</a><%/SHOW_MORE_LINK%>
      </td>
   </tr>
   </table>
   <table class="w100p smplTable" border="0" rules="rows">
   <col width="80%" />
   <col />
   <%ROWS%>
   <tr>
      <td>
         <%title%>:
      </td>
      <td>
         <%value%>
      </td>
   </tr>
   <%/ROWS%>
   </table>
</div>