<div align="center">
	<div style="border:1px solid #003399;padding:10px; width:300px;font-family: Tahoma;color: #555;font-size:11px;">
			<table cellpadding="0" cellspacing="10">
				<tr valign="top">
					<td><%CAPTCHA%></td>
					<td>{@Choose links with text on the picture@}</td>
				</tr>
				<tr>
					<td align="right">
						<%LINKS%>
						   <div style="font-size:14px;"><a href="<%SITE_URL%>captcha?clickid=<%CLICKID%>&captcha=<%VALUE%>"><%VALUE%></a></div>
						<%/LINKS%>
					</td>
					<td></td>
				</tr>
			</table>
		</form>
	</div>
</div>
