<div align="center">
	<div style="border:1px solid #003399;padding:10px; width:300px;font-family: Tahoma;color: #555;font-size:11px;">
		<form action="<%SITE_URL%>captcha?clickid=<%CLICKID%>" method="post">
			<table cellpadding="0" cellspacing="10">
				<tr valign="top">
					<td><%CAPTCHA%></td>
					<td>{@Input text on the picture@}</td>
				</tr>
				<tr>
					<td><input type="text" name="captcha" value=""  style="width: 130px;"/></td>
					<td><input type="submit" value="{@Submit@}" /></td>
				</tr>
			</table>
		</form>
	</div>
</div>
