<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title><%SYSTEM%>, New payment gateway integration request</title>
    </head>
    <body>
        <H3>Hello!</H3>
        Request for new payment gateway integration is received from <%SYSTEM%>:<BR>
        Payment gateway name: <%PAYMENTGATEWAY%><BR>
        Phone number: <%PHONE%><BR>
        Comment: <%COMMENT%><BR>
        Site URL: <a href="<%SITEURL%>"><%SITEURL%></a><BR>
        E-Mail: <a href="mailto:<%EMAIL%>"><%EMAIL%></a><BR>
    </body>
</html>