<div id="footer">
	<table class="table w100p">
		<tr>
			<td colspan="2" class="pb10">
			<h2 class="underline pt0">&nbsp;</h2>
			</td>
		</tr>
		<tr>
			<td>
				<div>
				   <a href="http://orbitscripts.com" target="_blank">
				      <img src="<%SITEURL%>/images/smartppc6/powered.gif" border="0" width="120" height="38" alt="" />
				   </a>
				</div>
			</td>
			<td class="pl20 right">
			<div>Copyright&nbsp;&copy;&nbsp;2011,&nbsp;<a
				href="http://orbitscripts.com" target="_blank">OrbitScripts, LLC</a>
			</div>
			<div>All rights reserved.</div>
			</td>
		</tr>
	</table>
</div>